.about-section{
  text-align: center;
}


h1{
  text-align: center;

}

h2{
  text-align: center;

}
h3{
  text-align: center;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 5px;
    margin-bottom: 40px;;



  }

  .title {
    color: grey;
    font-size: 18px;
  }



  .socialmedia a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  .socialmedia a:hover {
    opacity: 0.7;
  }

  .form-group{
    margin-top: 10px;



  }

  .lead{
    text-align: center;
  }
