.container {
  max-width: 960px;
}

.nav-item {
  font-family: 'Bebas Neue', cursive;
  font-size: 20pt;
}

.dropdown-item {
  font-size: 14pt;
}

.navbar {
  padding: 20px 0;
}

.custom {
  padding-top: 40px;
  padding-bottom: 40px;
}

.custom .carousel-inner {
  height: 100px;
}
.custom .carousel-caption {
  color: #000000;
  top: 50%;
}

.blockquote-footer {
  color: white;
}

footer.footer {
  padding-top:4rem;
  padding-bottom:4rem;
  margin: 0 auto;
}

.bg-grey {
  background-color: #cccccc;
}

.black-overlay {
  position: absolute;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
}

.site-header {
  background-color: #2C5784;
}
.site-header a {
  color: #E6E6E6;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

#myCarousel .carousel {
  margin-bottom: 4rem;
}
#myCarousel .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

#myCarousel .carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-inner > .carousel-item > img {
  height: 100vh;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

.about-section {
  text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 5px;
    margin-bottom: 40px;;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  .socialmedia a:link {
    text-decoration: none;
    font-size: 22px;
  }

  .socialmedia a:hover {
    opacity: 0.7;
  }

  .form-group {
    margin-top: 10px;
  }

  .lead {
    text-align: center;
  }


  .headerSize{
      height: 200px;
  }
  .style1{
      font-family:'Sofia';
      font-size: 90px;
      color:aquamarine;
      text-align: center;
      padding: 10px 5%;
      box-shadow: 0 1px 3px #333;
  }
  .style2{
      font-family: 'Sofia';
      font-size: 90px;
      background: -webkit-linear-gradient(rgb(45, 223, 255), rgb(5, 2, 141));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      padding: 10px 5%;
  }
  .margin1{
      margin-left:10%;
      margin-right: 10%;
  }
  .breadcrumb-arrow .breadcrumb-item+.breadcrumb-item::before {
  content: "->";
  color:aquamarine;
  }

  .img {
    height: auto;
    max-width: 100%;
  }
